* {
    text-align: center;
    margin: 0;
}   

body {
    background: hsl(240, 23%, 11%);
    color: #fffafa;
}
h2 {
    font-family: 'Silkscreen';
    font-size: 7vw;
    font-weight: normal;
    margin: 10px;
}

.error-msg {
    font-size: 3vw;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.random-game {
    margin: 1em;
    font-size: 3vw;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}